@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.nav-link {
  @apply block py-2 px-4 rounded-lg font-medium uppercase transition hover:text-yellow-400 hover:bg-blue-800/50;
}
.active-nav {
  @apply text-yellow-400 bg-blue-800/50 pointer-events-none;
}

/* Animasi Ketik */
.typing-container {
  display: inline-block;
}

.typing-text {
  overflow: hidden;
  border-right: 3px solid #fbbf24;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fbbf24;
  }
}

/* Animasi untuk multiple text */
.multiple-text {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid #fbbf24;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* Efek fade untuk text yang berganti */
.text-fade {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
